p {
    font-size: 25px;
}
.singersimages {
  display: flex;
  justify-content: center; 
  gap: 15px;              
  flex-wrap: wrap;        
}
.acousticguitars {
  display: flex;
  justify-content: center; 
  gap: 15px;              
  flex-wrap: wrap; 
}
.singerswithclassic {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;              
  flex-wrap: wrap; 
}
.classicalguitars {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;              
  flex-wrap: wrap; 
}
button {
    cursor: pointer; 
    padding: 5px 8px; 
    font-size: 14px;     
}
h1 {
  text-align: center;
  font-size: 35px;
}
h4 {
  font-size: 26px;
}