.lute1 {
    padding: 30px;
}
.mandolin1 {
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 20px;
}
.ukulele1 {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
}
.banjo1 {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 40px;
}